body{
	margin: 0;
	background: linear-gradient(141deg, #e6e6e6 0%, #f4f3f3 51%, #ffffff 75%);

}

h1{
	font-size:50px ;
	text-align:center;
	font-family:Californian FB;
	color:#000000;
}

@keyframes changeText {
	0%{
		color:rgb(0, 0, 0);
	}
	50%{
		color:#0C441F;
	}
	100%{
		color:#000000;
	}
}
p{
	animation: changeText 10s linear infinite;
	text-align: center;
	font-family:Californian FB;
	font-size: 20px;
}
h3{
	font-size:25px ;
	color:#000000;
	text-align: center;
	font-family:Californian FB;
}
h4{
	font-size:35px ;
	color:#000000;
	font-family:Californian FB;
}
h5{
	font-size:27px ;
	color:#4D4B4B;
	font-family:Californian FB;
}
pre{
	font-size:27px ;
	color:#4D4B4B;
	font-family:Californian FB;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  background-color: #151515;
  }
  
  .footer li {
    float: left;
  }
  
  .footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
  }
  
  .footer li a:hover {
      color:#D9D8D8;
  border: solid 2px white;
  }
  .items{
      align-items:center;
  }
  .footer{
      font-size: 19px;
  }
 #f pre{
	display:inline-block;
	font-family:Californian FB;
}
#f p{
	display: inline-block;
	font-size:30px;
   font-family:Californian FB; 
}